@page "/new-payment"
@using BankingApp.Client.Contracts
@using BankingApp.Client.ViewModels
@using BankingApp.Shared.Dtos.Requests
@using Microsoft.AspNetCore.Authorization

@inject SweetAlertService Swal
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ICreditCardsService _creditCardsService
@inject IPaymentsService _paymentsService

@attribute [Authorize]

<h3>Realizar Pago</h3>

<EditForm Model="newPayment" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="mb-3">
        <label class="form-label">Monto</label>
        <InputNumber class="form-control" @bind-Value="newPayment.Amount"></InputNumber>
        <ValidationMessage For="@(() => newPayment.Amount)" />
    </div>
    <div class="mb-3">
        <label class="form-label">Tarjeta de Crédito</label>
        <InputSelect class="form-select" @bind-Value="newPayment.CreditCardId" required>
            <option value="">Seleccione una tarjeta</option>
            @foreach (var creditCard in creditCards)
            {
                <option value="@creditCard.CreditCardId">@creditCard.CardNumber</option>
            })
        </InputSelect>
        <ValidationMessage For="@(() => newPayment.CreditCardId)" />
    </div>
    <div class="mb-3">
        <label class="form-label">Fecha de pago</label>
        <InputDate class="form-control" @bind-Value="newPayment.Date" min="2024-01-01"></InputDate>
        <ValidationMessage For="@(() => newPayment.Date)" />
    </div>

    <button class="btn btn-success" type="submit">
        Guardar
    </button>
    <a class="btn btn-warning" href="payments">Volver</a>
</EditForm>

@code {
    NewPaymentRequest newPayment = new();
    List<UserCreditCardsViewModel> creditCards = new();
    private Guid UserId;

    protected override async Task OnInitializedAsync()
    {
        newPayment.Date = DateTime.Now;
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userIdClaim = authState.User.FindFirst("UserId");

        if (userIdClaim is not null)
            UserId = Guid.Parse(userIdClaim.Value);

        var response = await _creditCardsService.GetCreditCardsAsync(UserId);
        foreach (var creditCard in response)
        {
            creditCards.Add(new UserCreditCardsViewModel
                {
                    CreditCardId = creditCard.CreditCardId,
                    CardNumber = creditCard.CardNumber
                });
        };
    }

    private async Task OnValidSubmit()
    {
        var response = await _paymentsService.NewPaymentAsync(newPayment);
        if (response)
        {
            await Swal.FireAsync("Pago realizado", "El pago ha sido realizado exitosamente", SweetAlertIcon.Success);
            NavigationManager.NavigateTo("/payments");
        }
        else
        {
            await Swal.FireAsync("Error", "Ha ocurrido un error al realizar el pago", SweetAlertIcon.Error);
        }
    }
}
